<!DOCTYPE html>

<html>
<head>
<title> My Blog</title>
</head>
<body>
<nav class>
		<ul class = "nav navbar-nav">
			{% if user != None %}
			<a class="navbar-brand" href="#">{{user.username}}</a>
			<li><a href="#" data-toggle="modal" data-target="#addblog">Add Blog!</a></li>
			{% endif %}
			<li><a href="#" data-toggle="modal" data-target="#login">Login!</a></li>

	</nav>

<div>
			<h1>Blog Articles!</h1>
		</div>

		<div>
			{% for blog in blogs %}
				<div>
					<div>
							<h3>{{blog.title}}</h3>
							<small>{{blog.author}}</small>
					</div>
					{{blog.blog_content}}
				</div>
				{% endfor %}
		</div>
</body>
</html>
